<div class="card">
  <div class="card-body">
    <h6 class="text-center">Profiles</h6>
  </div>
  <table class="table table-sm table-hover">
    <thead>
      <tr>
        <th scope="col">HEA </th>
        <th scope="col">Höhe </th>
        <th scope="col">Breite </th>
        <th scope="col">T Steg </th>
        <th scope="col">T Flansch </th>
        <th scope="col">Radius </th>
        <th scope="col">D2 </th>
        <th scope="col">A Steg </th>
        <th scope="col">Fläche </th>
        <th scope="col">Gewicht </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let profile of profilesList.HEA">
        <td>{{profile.HEA}}</td>
        <td>{{profile.h}}</td>
        <td>{{profile.b}}</td>
        <td>{{profile.ts}}</td>
        <td>{{profile.tg}}</td>
        <td>{{profile.r}}</td>
        <td>{{profile.d}}</td>
        <td>{{profile.ASteg}}</td>
        <td>{{profile.A}}</td>
        <td>{{profile.G}}</td>
      </tr>
    </tbody>
  </table>
</div>
